<div class="file-picker">
    <div id="image-preview" class="img-thumbnail"
         v-bind:style="{ 'background-image': `url('${this.image}')` }">
    </div>
    <input type="hidden" name="image_upload_type" v-model="type">
    <span class="btn btn-default btn-block" data-toggle="modal" data-target="#change-image-{{ unique }}">
        Заменить картинку
    </span>
    <div class="modal fade" id="change-image-{{ unique }}" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <span type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </span>
                <ul class="nav nav-tabs text-center">
                    <li role="presentation" class="active">
                        <a href="#upload-file" aria-controls="upload-file" data-toggle="tab">
                            Загрузить файл
                        </a>
                    </li>
                    <li role="presentation">
                        <a href="#provide-url" aria-controls="provide-url" data-toggle="tab">
                            Указать URL
                        </a>
                    </li>
                </ul>

                <div class="tab-content">
                    <div class="tab-pane active" id="upload-file">
                        <p>
                            Вы можете выбрать изображение, загрузив его со своего компьютера или указав URL-строку, по которой это изображение доступно
                        </p>

                        <label class="btn btn-default" for="input-file-{{ unique }}">Выбрать файл</label>
                        <input name="image" type="file" class="hidden" id="input-file-{{ unique }}" @change="fileSelected">
                    </div>
                    <div class="tab-pane" id="provide-url">
                        <p>
                            Вы можете выбрать изображение, загрузив его со своего компьютера или указав URL-строку, по которой это изображение доступно
                        </p>
                        <div class="input-group">
                            <input type="text" name="image_url" class="form-control" placeholder="URL изображения" v-model="url">
                            <span class="input-group-btn">
                                <span class="btn btn-default" @click="urlSelected">Загрузить</span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>