@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

body {
  font-family: 'Verdana';
}

.wish .panel-body {
  height: 200px;
  background: no-repeat center;
  background-size: contain;
}

#image-preview {
  width: 100%;
  padding-bottom: 100%;
  background: no-repeat center;
  background-size: cover;
}

#image-preview-wrapper {
  width:200px;
  height:10px;
}

.fa-btn {
  margin-right: 6px;
}