// Variables
@import "variables";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

.search-results li.element {
  cursor: pointer;
}

.search-results li.element:hover {
  background-color: $color-clouds;
}

body {
  font-family: 'Open Sans';
}

.navbar .navbar-brand {
  font-family: 'Oswald';
  font-size: 200%;
  color: $brand-primary;
}

.navbar {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

  a {
    color: $gray-light;
  }

  a:hover {
    color: $brand-primary;
  }

  .icon-bar {
    background-color: $brand-primary;
  }

  li.separator {
    padding-top: 15px;
  }

  li.active {
    display: block;
    padding: 15px;
    color: $gray-darker
  }
}

.square-image {
  width: 100%;
  padding-bottom: 100%;
  background: no-repeat center;
  background-size: cover;

  &.is-booked {
    opacity: 0.5;
  }
}

.fa-btn {
  margin-right: 6px;
}

.panel-default {
  border: 1px solid $brand-primary-light;

  .panel-heading {
    border-bottom: 0px;
    background-color: $brand-primary-light;

    .panel-title {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

.material {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.controll-buttons {
  .btn {
    margin: 5px 0;
  }
}

.label-booked {
  position: absolute;
  margin-top: 1em;
  left: 2em;
  font-size: 1.1em;
  z-index: 1;
}

.search-input {
  width: 300px!important;

  &.has-results {
    border-radius: 5px 5px 0 0;
  }
}
.search-results {
  width: 300px;
  border: 1px solid #ccc;
  border-top: 0;
  border-radius: 0 0 5px 5px;
  background-color: white;
  position: absolute;
  z-index: 100;
  list-style: none;
  padding: 0;

  li {
    margin: 0;
    padding: .5em 1em;

    a {
      width: 100%;
    }
  }
}
