$color-clouds: #ecf0f1;
$color-success: #2ecc71;
$color-danger: #e74c3c;
$color-warning: #f1c40f;


$brand-primary: #3498db;
$brand-primary-light: lighten($brand-primary, 40%);

$nav-link-hover-bg: #fff;